<div *ngFor="let part of parts | async">
   {{ part | json }}
</div>

<table mat-table [dataSource]="parts | async" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="part_nr">
    <th mat-header-cell *matHeaderCellDef> part_nr </th>
    <td mat-cell *matCellDef="let parts"> {{parts.part_nr}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="part_description_fr">
    <th mat-header-cell *matHeaderCellDef> part_description_fr </th>
    <td mat-cell *matCellDef="let parts"> {{parts.part_description_fr}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="part_description_en">
    <th mat-header-cell *matHeaderCellDef> part_description_en </th>
    <td mat-cell *matCellDef="let parts"> {{parts.part_description_en}} </td>
  </ng-container>

  <!-- Symbol Column
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> option_text </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="data5">
    <th mat-header-cell *matHeaderCellDef> data5 </th>
    <td mat-cell *matCellDef="let element"> {{element.data5}} </td>
  </ng-container>
  
  <ng-container matColumnDef="data6">
    <th mat-header-cell *matHeaderCellDef> data6 </th>
    <td mat-cell *matCellDef="let element"> {{element.data6}} </td>
  </ng-container>

  <ng-container matColumnDef="data7">
    <th mat-header-cell *matHeaderCellDef> data7 </th>
    <td mat-cell *matCellDef="let element"> {{element.data7}} </td>
  </ng-container>

  <ng-container matColumnDef="data8">
    <th mat-header-cell *matHeaderCellDef> data8 </th>
    <td mat-cell *matCellDef="let element"> {{element.data8}} </td>
  </ng-container> -->

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>