<h1 mat-dialog-title>Ajouter des références</h1>

<div [formGroup]="form" mat-dialog-content>
  <mat-form-field>
    <mat-label>ecu-name</mat-label>
    <input formControlName="ecu_name" [matAutocomplete]="autoEcu" matInput />
    <mat-autocomplete
      autoActiveFirstOption
      #autoEcu="matAutocomplete"
      (optionSelected)="onEcuNameSelected($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptionsEcu | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('ecu_name').hasError('required')"
      >Veuillez remplir le champ ecu_name</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>config_diagitem</mat-label>
    <input
      formControlName="config_diagitem"
      [matAutocomplete]="autoDiagItem"
      matInput
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoDiagItem="matAutocomplete"
      (optionSelected)="
        onConfigDiagitemSelected($event, form.get('ecu_name').value)
      "
    >
      <mat-option
        *ngFor="let option of filteredOptionsConfigDiagitems | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('config_diagitem').hasError('required')"
      >Veuillez remplir le champ config_diagitem</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>option_valuewrite</mat-label>
    <input
      formControlName="option_valuewrite"
      [matAutocomplete]="autoValueWrite"
      matInput
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoValueWrite="matAutocomplete"
      (optionSelected)="
        onOptionValuewriteSelected(
          $event,
          form.get('ecu_name').value,
          form.get('config_diagitem').value
        )
      "
    >
      <mat-option
        *ngFor="let option of filteredOptionsOptionValuewrite | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('option_valuewrite').hasError('required')"
      >Veuillez remplir le champ option_valuewrite</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>option_text</mat-label>
    <input
      formControlName="Option_text"
      [matAutocomplete]="autoOptionText"
      matInput
    />

    <mat-autocomplete autoActiveFirstOption #autoOptionText="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptionsOptionText | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('Option_text').hasError('required')"
      >Veuillez remplir le champ Option_text</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>royalty_part_nr</mat-label>
    <input
      formControlName="royalty_part_nr"
      [matAutocomplete]="autoPartNr"
      matInput
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoPartNr="matAutocomplete"
      (optionSelected)="onRoyaltyPartNrSelected($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptionsRoyaltyPartnr | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('royalty_part_nr').hasError('required')"
      >Veuillez remplir le champ royalty_part_nr</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>part_description_fr</mat-label>
    <input matInput formControlName="part_description_fr" />
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>part_description_en</mat-label>
    <input
      formControlName="part_description_en"
      [matAutocomplete]="autoEn"
      matInput
    />
    <mat-autocomplete autoActiveFirstOption #autoEn="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptionsDescriptionEn | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('part_description_en').hasError('required')"
      >Veuillez remplir le champ part_description_en</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>royalty_mtc_scr</mat-label>
    <input
      formControlName="royalty_mtc_scr"
      [matAutocomplete]="autoRoyaltyMtcScr"
      matInput
    />
    <mat-autocomplete
      autoActiveFirstOption
      #autoRoyaltyMtcScr="matAutocomplete"
    >
      <mat-option
        *ngFor="let option of filteredOptionsRoyaltyMtcScr | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('royalty_mtc_scr').hasError('required')"
      >Veuillez remplir le champ royalty_mtc_scr</mat-error
    >
  </mat-form-field>

  <br />
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <input formControlName="Comment" [matAutocomplete]="autoComment" matInput />
    <mat-autocomplete autoActiveFirstOption #autoComment="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptionsComment | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.get('Comment').hasError('required')"
      >Veuillez remplir le champ Comment</mat-error
    >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="onNoClick()">Retour</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Sauvegarder
  </button>
</div>
